<div class="container" ng-init="getProductForBrand();">
	<form ng-submit="searchPerformanceUpdate()">
		<div class="row">
			<h4>Select Brand:</h4>
			<select class="form-control" name="brands" ng-model="selectedBrand.ID" ng-options="x.ID as x.BrandName for x in brandData" ng-change="getProductForBrand();"></select>
		</div>
		<div class="row">
			<!-- <h4>Select Product(s): <span class="all-option pull-right" ng-click="clearChecks(productsList)">Clear All</span><span class="all-option pull-right" ng-click="checkAll(productsList)">Select All</span></h4>
			<label ng-repeat="product in productsList" for="pr{{product.Name}}" class="col-md-3">
				<input type="checkbox" name="product" value="{{product.ID}}" id="pr{{product.Name}}" ng-model="product.Checked">
				<span>{{product.Name}}</span>
			</label> -->
			<h4>Select Product:</h4>
			<select class="form-control" name="products" ng-model="selectedProductsInBrand.type" ng-options="x.ID as x.Name for x in productsInBrand"></select>
		</div>
		<div class="row">

			<!-- <h4>Select Network(s): <span class="all-option pull-right" ng-click="clearChecks(networksList)">Clear All</span><span class="all-option pull-right" ng-click="checkAll(networksList)">Select All</span></h4>

			<label ng-repeat="network in networksList" for="n{{network.Name}}" class="col-md-3">
				<input type="checkbox" value="{{network.ID}}" id="n{{network.Name}}" ng-model="network.Checked">
				<span>{{network.Name}}</span>
			</label> -->
			<h4>Select Network:</h4>
			<select class="form-control" name="networks" ng-model="selectedNetwork.ID" ng-options="x.ID as x.Name for x in networkData"></select>
		</div>
		<div class="row">
			
			<h4>Select Device</h4>
			<select class="form-control" required name="device" ng-model="selectedDevice.Name" ng-options="x.Name as x.Name for x in deviceList"></select>
		</div>
		<div class="row date-search-container">
			<div class="col-md-5">
				<span>From:</span>
				<div class="input-group date" ng-init="datePicker()">
				  <input ng-model="firstDay.value" type="text" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
			<div class="col-md-5">
				<span>To:</span>
				<div class="input-group date" ng-init="datePicker()">
				  <input ng-model="lastDay.value" type="text" class="form-control" required><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
				</div>
			</div>
			<div class="col-md-2" style="margin-top: 20px;">
				<input type="submit" class="btn btn-primary btn-search" value="Search" ng-click="showSearch=true">
			</div>
		</div>
	</form>

	<div class="row" ng-show="showSearch">
		<div style="position: relative;">

			
			<div style="white-space: nowrap;">
				<div style="display: inline-block;">
					<div class="reveal-fixed" style="width: 815px;">
						<h3 style="margin: 0; background-color: #fff; padding-top: 20px;">{{productName}} | {{networkName}} | {{deviceName}}</h3>
						<table class="table updatePerformance search-results" style="margin-right: 0; width: 100%; background-color: #fff; table-layout:fixed;">
							<col width="90">
							<col width="164">
							<col width="164">
							<col width="164">
							<col width="75">
							<col width="100">
							<thead>
								<tr style="background-color: #fff;">
									<th>Date</th>
									<th>Ad Cost</th>
									<th>Ad Revenue</th>
									<th>Ad Leads</th>
									<th>Ad CPA</th>
									<th>Ad ROI</th>

								</tr>
								<tr style="background-color: #eaeaea;">
									<td>Totals:</td>
									<td>{{totalCost | currency}}</td>
									<td>{{totalRevenue | currency}}</td>
									<td>{{totalLeads}}</td>
									<td>{{totalCost/totalLeads | number:2}}</td>
									<td>{{(totalRevenue/totalCost)*100 | number:2}}%</td>
								</tr>
								
							</thead>
						</table>				
					</div>
					<div>
						<h3>{{productName}} | {{networkName}} | {{deviceName}}</h3>
						<table class="table updatePerformance search-results fixedResults" style="margin-right: 0; width: 100%;  table-layout:fixed;">
							<col width="90">
							<col width="164">
							<col width="164">
							<col width="164">
							<col width="75">
							<col width="100">
		<!-- 					<th style="border-top: none;"><br></th> -->
							<thead class="header-fixed">
								
								<tr>
									<th>Date</th>
									<th>Ad Cost</th>
									<th>Ad Revenue</th>
									<th>Ad Leads</th>
									<th>Ad CPA</th>
									<th>Ad ROI</th>

								</tr>
								<tr style="background-color: #eaeaea;">
									<td>Totals:</td>
									<td>{{totalCost | currency}}</td>
									<td>{{totalRevenue | currency}}</td>
									<td>{{totalLeads}}</td>
									<td>{{totalCost/totalLeads | number:2}}</td>
									<td>{{(totalRevenue/totalCost)*100 | number:2}}%</td>
								</tr>
								
							<tbody>
								<tr ng-repeat="x in filledDate | orderBy:'Date'" class="tableData">
									<!-- <td>Performance ID: {{x.ID}}</td> -->
									<td>{{x.Date}}</td>
									<td><input type="text" onClick="this.select()" format="currency" ng-model="x.Cost" ng-blur="updatePerformanceCost(x.ID, x.BrandID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Device);"></td>
									<td><input type="text" onClick="this.select()" format="currency" ng-model="x.Revenue" ng-blur="updatePerformanceRevenue(x.ID, x.BrandID, x.ProductID, x.NetworkID, x.Date, x.Revenue, x.Device);"></td>
									<td><input type="text" onClick="this.select()" ng-model="x.Leads" ng-blur="updatePerformanceLeads(x.ID, x.BrandID, x.ProductID, x.NetworkID, x.Date, x.Leads, x.Device);"></td>
									<td>{{x.Cost/x.Leads | number:2}}</td>
									<td>{{(x.Revenue/x.Cost)*100 | number:2}}%</td>
									<!-- <td class="btn btn-primary table-button" ng-click="updatePerformance(x.ID, x.BrandID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Revenue, x.Leads, x.Device);">Update</td> -->
								</tr>
								
							</tbody>


						</table>
					</div>
					
				</div>
				<div style="display: inline-block;">
					
					<div class="reveal-fixed" style="width: 340px;">
						<h3 style="margin: 0; background-color: #fff; padding-top: 20px;">{{brandName}}</h3>
						<table class="table updatePerformance search-results" style="margin: 0; background-color: #fff; width: 100%; table-layout:fixed;">
							<col width="164">
							<col width="93">
							<thead>
								<tr style="background-color: #fff;">
									<th>Cart Revenue</th>
									<th>Cart ROI</th>
								</tr>
								<tr style="background-color: #eaeaea">
									<td width="164">{{totalCartRevenue | currency}}</td>
									<td width="93">{{cartROI | number:2}}%</td>
								</tr>
							</thead>
							
						</table>
					</div>
					<div>
						<h3>{{brandName}}</h3>
						<table class="table updatePerformance search-results" style="table-layout:fixed; width: 100%;">
							<col width="164">
							<col width="93">
							<thead class="header-fixed">
								<tr>
									<th>Cart Revenue</th>
									<th>Cart ROI</th>
								</tr>
								<tr style="background-color: #eaeaea">
									<td>{{totalCartRevenue | currency}}</td>
									<td>{{cartROI | number:2}}%</td>
								</tr>
							</thead>
							
							<tbody>
								<tr ng-repeat="x in filledCartDate | orderBy:'Date'" class="tableData">
									<td><input type="text" onClick="this.select()" format="currency" ng-model="x.Revenue"  ng-blur="updateCart(x.ID, x.BrandID, x.Date, x.Revenue);"></td>
									<td>{{x.ROI | number:2}}%</td>
									<!-- <td class="btn btn-primary table-button" ng-click="updateCart(x.ID, x.BrandID, x.Date, x.Revenue);">Update</td> -->
									<!-- <td class="btn btn-primary table-button" ng-click="deleteCart(x)">Delete</td> -->
								</tr>
								
							</tbody>
						</table>
						
					</div>
				</div>
				
				
			</div>
		   
		</div>
	</div>
	<!-- <div class="row" ng-if="networksList[0].Checked">
		<div class="col-md-12">
			<h2>Content.ad</h2>
			<table class="table">
				<tr>
					<th>Product</th>
					<th>Network</th>
					<th>Date</th>
					<th>Cost</th>
					<th>Revenue</th>
					<th>Leads</th>
					<th>Device</th>
				</tr>
				<tr ng-repeat="x in performanceData | orderBy:'Date' | dateRange : from_date : to_date.value | performanceNetwork : '1' | filter:deviceFilter" class="tableData">
					
					<td>{{x.ProductName}}</td>
					<td>{{x.NetworkName}}</td>
					<td>{{x.Date}}</td>
					<td>{{x.Cost| currency}}</td>
					<td>{{x.Revenue| currency}}</td>
					<td>{{x.Leads}}</td>
					<td>{{(x.Revenue/x.Cost)*100 | number:2}}%</td>
					<td>{{x.Device}}</td>
					<td class="btn btn-primary" data-toggle="modal" data-target=".update-modal" ng-click="tempPush(x.ID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Revenue, x.Leads, x.Device); getProduct(); getNetwork()">Update</td>
					<td class="btn btn-primary" ng-click="deletePerformance(x)">Delete</td>
				</tr>
			</table>

		</div>
	</div>
	<div class="row" ng-if="networksList[1].Checked">
		<div class="col-md-12">
			<h2>Taboola</h2>
			<table class="table">
				<tr>
					<th>Product</th>
					<th>Network</th>
					<th>Date</th>
					<th>Cost</th>
					<th>Revenue</th>
					<th>Leads</th>
					<th>Device</th>
				</tr>
				<tr ng-repeat="x in performanceData | orderBy:'Date' | dateRange : from_date : to_date.value | performanceNetwork : '2' | filter:deviceFilter" class="tableData">
					
					<td>{{x.ProductName}}</td>
					<td>{{x.NetworkName}}</td>
					<td>{{x.Date}}</td>
					<td>{{x.Cost| currency}}</td>
					<td>{{x.Revenue| currency}}</td>
					<td>{{x.Leads}}</td>
					<td>{{(x.Revenue/x.Cost)*100 | number:2}}%</td>
					<td>{{x.Device}}</td>
					<td class="btn btn-primary" data-toggle="modal" data-target=".update-modal" ng-click="tempPush(x.ID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Revenue, x.Leads, x.Device); getProduct(); getNetwork()">Update</td>
					<td class="btn btn-primary" ng-click="deletePerformance(x)">Delete</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row" ng-if="networksList[2].Checked">
		<div class="col-md-12">
			<h2>Outbrain</h2>
		    <table class="table">
		    	<tr>
		    		<th>Product</th>
		    		<th>Network</th>
		    		<th>Date</th>
		    		<th>Cost</th>
		    		<th>Revenue</th>
		    		<th>Leads</th>
		    		<th>Device</th>
		    	</tr>
		    	<tr ng-repeat="x in performanceData | orderBy:'Date' | dateRange : from_date : to_date.value | performanceNetwork : '3' | filter:deviceFilter" class="tableData">
		    		
		    		<td>{{x.ProductName}}</td>
		    		<td>{{x.NetworkName}}</td>
		    		<td>{{x.Date}}</td>
		    		<td>{{x.Cost| currency}}</td>
		    		<td>{{x.Revenue| currency}}</td>
		    		<td>{{x.Leads}}</td>
		    		<td>{{(x.Revenue/x.Cost)*100 | number:2}}%</td>
		    		<td>{{x.Device}}</td>
		    		<td class="btn btn-primary" data-toggle="modal" data-target=".update-modal" ng-click="tempPush(x.ID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Revenue, x.Leads, x.Device); getProduct(); getNetwork()">Update</td>
		    		<td class="btn btn-primary" ng-click="deletePerformance(x)">Delete</td>
		    	</tr>
		    </table>
		</div>
	</div>
	<div class="row" ng-if="networksList[3].Checked">
		<div class="col-md-12">
			<h2>Lockerdome</h2>
		    <table class="table">
				<tr>
					<th>Product</th>
					<th>Network</th>
					<th>Date</th>
					<th>Cost</th>
					<th>Revenue</th>
					<th>Leads</th>
					<th>Device</th>
				</tr>
				<tr ng-repeat="x in performanceData | orderBy:'Date' | dateRange : from_date : to_date.value | performanceNetwork : '4' | filter:deviceFilter" class="tableData">
					
					<td>{{x.ProductName}}</td>
					<td>{{x.NetworkName}}</td>
					<td>{{x.Date}}</td>
					<td>{{x.Cost| currency}}</td>
					<td>{{x.Revenue| currency}}</td>
					<td>{{x.Leads}}</td>
					<td>{{(x.Revenue/x.Cost)*100 | number:2}}%</td>
					<td>{{x.Device}}</td>
					<td class="btn btn-primary" data-toggle="modal" data-target=".update-modal" ng-click="tempPush(x.ID, x.ProductID, x.NetworkID, x.Date, x.Cost, x.Revenue, x.Leads, x.Device); getProduct(); getNetwork()">Update</td>
					<td class="btn btn-primary" ng-click="deletePerformance(x)">Delete</td>
				</tr>
			</table>
		</div>
	</div> -->
</div>
<script>
	jQuery(document).ready(function(){
		var elementPosition = jQuery('.header-fixed').offset();
		
	    jQuery(window).scroll(function(){
	         if(jQuery(window).scrollTop() > elementPosition.top){
	              jQuery('.reveal-fixed').css('display', 'block');
	             
	         } else {
	              jQuery('.reveal-fixed').css('display', 'none');
	          
	         }    
	    });

	    // var tableOffset = jQuery(".header-fixed").offset().top;

	    // jQuery(window).scroll(function() {

	    //     if (jQuery(window).scrollTop() > tableOffset) {
	    //         jQuery(".header-fixed").css("position", "fixed");
	    //         jQuery(".header-fixed").css("top", "0px");
	    //     }
	    //     else{
	    //         jQuery(".header-fixed").css("position", "static");
	            
	    //     }
	    // });
	});
</script>